
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sample Review project{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

    <style type="text/css">
		.car-img {
			height: 400px;
			width: auto;
			margin: auto;
		}
        #navbarNav{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            
        }
        #navbarOptions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            overflow: auto;
            

        }
        
        .success-message{
            font-size: 18px;
            font-weight: bolder;
            color: #0cea0c;
            }

          .failure-message{
            font-size: 18px;
            font-weight: bolder;
            color: red;
          }
          .message-container{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center; 
          }
        
	</style>

    {% block css %}{% endblock %}
</head>
<body>
<nav style="background-image: linear-gradient(to right, rgb(165, 28, 124),rgb(195, 112, 167));" class="navbar navbar-expand navbar-dark bg-dark">
    <a class="nav-link" href="{% url 'home' %}"><span class="nav-item active" style="color: whitesmoke; font-weight: 400;">Home</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="navbarOptions" class="navbar-nav ">
            
            {% if request.user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                    <a class="nav-link" href="#">Welcome <b style="color: whitesmoke;font-size: 18px;font-weight: 500;font-family: Georgia;">{{request.user.first_name}}</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'nav_to_login_page' %}">Login</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'nav_to_register_page' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div  class="">

  <br/>
      {% block content %}

      <div class="message-container">
      
        <span id="messageAccepted" class="text-center success-message" ></span>
        <span id="messageRejected" class="text-center failure-message" ></span>
      </div>

      {% endblock %}


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-keyboard="true" data-wrap
  ="false">
    <div id="carouselInner" class="carousel-inner">
      
    

    </div>
    <a id="prevBtn" class="carousel-control-prev" href="#carouselExampleControls" data-slide="prev" role="button" >
      <span  class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a id="nextBtn" class="carousel-control-next" href="#carouselExampleControls" data-slide="next"  role="button" >
      <span  class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
  

<script type="text/javascript">

  
  let prevBtn = document.getElementById('prevBtn');
  let nextBtn = document.getElementById('nextBtn');
  let timer;
  

  function createImage(curIndex=0){
    //let n_image = {"image_id":5,"name":"number_three_icon","created_datetime":"2023-04-18T07:18:27.040834Z","url":"http://getdrawings.com/serial-number-icon","image":"/media/images/serial-number-icon-19.png","is_accepted":false};
    //console.log(n_image.image);

    fetch('/home/list/')
    .then((response)=>response.json())
    .then(data=>{
      let carouselInnerContainer = document.getElementById('carouselInner');
      
      for (let image of data){
        
        

        let carouselItem = document.createElement('div');
        carouselItem.classList.add('carousel-item');

        if (data[0] === image){
          carouselItem.classList.add('active');
        }

        let imageEle = document.createElement('img');
        imageEle.classList.add('d-block','w-100','car-img');
        imageEle.setAttribute('src',image.image);
        imageEle.setAttribute('alt',image.image_id);
        imageEle.id = image.image_id;
        
        carouselItem.appendChild(imageEle);

        carouselInnerContainer.appendChild(carouselItem);

              }
      
      
      
    });
    
    

  }

  createImage(0);
  
  
  nextBtn.addEventListener('click',()=>{

    clearInterval(timer);
    resetMessageText();
    
    // Send a GET request to retrieve the CSRF token
    fetch('/home/get_csrf_token/', { method: 'GET', credentials: 'same-origin' })
      .then(response => response.json())
      .then(csrf_data => {
        // Include the CSRF token in a fetch request

        let csrfToken = csrf_data.csrf_token;
        //console.log(csrfToken);

        const activeImage = document.querySelector(".carousel-item.active img");
        const image_id = activeImage.getAttribute("id");

        let data = {
          image_id : image_id,
          is_accepted : true
        }
        
        let options = {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken 
          },
          body: JSON.stringify(data)
        }

        
        fetch(`/home/update/${image_id}/`, options)
        .then(response => response.json())
        .then(data=>{
          let messageEle = document.getElementById('messageRejected');
          messageEle.textContent = '';
          
          let messageAcceptedEle = document.getElementById('messageAccepted');
          messageAcceptedEle.textContent = data.message;
          

        })
        .catch(error => {
          // Handle the error
          console.log('error',error)
        });
        

      })
      .catch(error => {
        // Handle the error
        console.log('error',error)
      });

  });

  
  prevBtn.addEventListener('click',()=>{
    
    clearInterval(timer);
    resetMessageText();
    // Send a GET request to retrieve the CSRF token
    fetch('/home/get_csrf_token/', { method: 'GET', credentials: 'same-origin' })
          .then(response => response.json())
          .then(csrf_data => {
            // Include the CSRF token in a fetch request

            let csrfToken = csrf_data.csrf_token;
            //console.log(csrfToken);

            const activeImage = document.querySelector(".carousel-item.active img");
            const image_id = activeImage.getAttribute("id");

            let data = {
              image_id : image_id,
              is_accepted : false
            }
            
            let options = {
              method: 'POST',
              credentials: 'same-origin',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken 
              },
              body: JSON.stringify(data)
            }

            
            fetch(`/home/update/${image_id}/`, options)
            .then(response => response.json())
            .then(data=>{
              let messageEle = document.getElementById('messageRejected');
              messageEle.textContent = data.message;
              
              let messageAcceptedEle = document.getElementById('messageAccepted');
              messageAcceptedEle.textContent = '';
             
              

            })
            .catch(error => {
              // Handle the error
              console.log('error',error)
            });
            

          })
          .catch(error => {
            // Handle the error
            console.log('error',error)
          });



  });

  
  function resetMessageText(){
    
     timer = setInterval(
      ()=>{
        let messageEle = document.getElementById('messageRejected');
        messageEle.textContent = '';
        
        let messageAcceptedEle = document.getElementById('messageAccepted');
        messageAcceptedEle.textContent = '';


      },3000);
    
  }
  resetMessageText();

</script>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>